{% extends 'base.html.twig' %}

{% block title %}Publicacion index{% endblock %}

{% block body %}
    <h1>Publicacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>TipoPublicacion</th>
                <th>FechaYHora</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicacion in publicacions %}
            <tr>
                <td>{{ publicacion.id }}</td>
                <td>{{ publicacion.titulo }}</td>
                <td>{{ publicacion.tipoPublicacion }}</td>
                <td>{{ publicacion.fechaYHora ? publicacion.fechaYHora|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('publicacion_show', {'id': publicacion.id}) }}">show</a>
                    <a href="{{ path('publicacion_edit', {'id': publicacion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('publicacion_new') }}">Create new</a>
{% endblock %}
