{% extends 'base.html.twig' %}

{% block title %}Edicion index{% endblock %}

{% block body %}
    <h1>Edicion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha De Edicion</th>
                <th>Cantidad Impresiones</th>
                <th>Usuario Creador</th>
                <th>Fecha Y Hora Creacion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for edicion in edicions %}
            <tr>
                <td>{{ edicion.id }}</td>
                <td>{{ edicion.fechaDeEdicion ? edicion.fechaDeEdicion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ edicion.cantidadImpresiones }}</td>
                <td>{{ edicion.usuarioCreador}} </td>
                <td>{{ edicion.fechaYHoraCreacion ? edicion.fechaYHoraCreacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('edicion_show', {'id': edicion.id}) }}">show</a>
                    <a href="{{ path('edicion_edit', {'id': edicion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('edicion_new') }}">Create new</a>
{% endblock %}
